﻿@model SachOnline.Models.NHAXUATBAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">THÔNG TIN NHÀ XUẤT BẢN</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ tên nhà xuất bản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNXB)
        </dd>

        <dt>
            Địa chỉ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Điện thoại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaNXB }) |
    @Html.ActionLink("VỀ TRANG QUẢN LÝ NHÀ XUÂT BẢN", "Index")
</p>