﻿@model SachOnline.Models.NHAXUATBAN

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ĐIỀU CHỈNH THÔNG TIN NHÀ XUẤT BẢN</h2>

@using (Html.BeginForm("Edit", "NhaXuatBan", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaNXB)
        <div class="form-group">
            <label class="control-label col-md-2"> Mã nhà xuất bản:  </label>
            <div class="col-md-10">
                <input type="text" size="100" name="nMaNXB" value="@Model.MaNXB" readonly />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tên nhà xuất bản: </label>
            <div class="col-md-10">
                <input type="text" size="100" name="nTenNXB" value="@Model.TenNXB" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Địa chỉ: </label>
            <div class="col-md-10">
                <input type="text" size="100" name="nDiaChi" value="@Model.DiaChi" required />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Điện thoại: </label>
            <div class="col-md-10">
                <input type="text" size="100" name="nSDT" value="@Model.DienThoai" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu thông tin" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("QUAY VỀ TRANG QUẢN LÝ NHÀ XUẤT BẢN", "Index")
</div>